[submodule "interdroid-util"]
	path = interdroid-util
	url = https://github.com/kastur/interdroid-util
[submodule "slf4android"]
	path = slf4android
	url = https://github.com/kastur/slf4android
[submodule "vdb"]
	path = vdb
	url = https://github.com/kastur/interdroid-vdb
[submodule "vdb-avro"]
	path = vdb-avro
	url = https://github.com/kastur/interdroid-vdb-avro
[submodule "vdb-ui"]
	path = vdb-ui
	url = https://github.com/kastur/interdroid-vdb-ui
[submodule "smartsockets"]
	path = smartsockets
	url = https://github.com/kastur/interdroid-smartsockets
[submodule "ibis-ipl"]
	path = ibis-ipl
	url = https://github.com/kastur/interdroid-ibis-ipl.git
[submodule "jgit"]
	path = jgit
	url = https://github.com/eclipse/jgit.git
[submodule "swan"]
	path = swan
	url = https://github.com/kastur/interdroid-swan
[submodule "swan-test"]
	path = swan-test
	url = https://github.com/kastur/interdroid-swan-test
